p{
    font-family: roboto, arial;
    margin-top: 0px;
    margin-bottom: 0px;
}

body{
    margin: 0px;
    margin-bottom: 50px;
    padding-top: 70px;
    padding-left:96px;

    
    padding-right:24px;
    background-color: rgb(248, 248, 248);
}