.header{
    height: 55px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top:0;
    left:0;
    right:0;
    height: 55px;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228, 228, 228);
    z-index: 100;
}

.left-sec{
    /* background-color: lightblue; */
    
    display: flex;
    align-items: center;
}

.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 20px;
}

.youtube-logo{
    height: 20px;
}

.mid-sec{
    /* background-color: lightpink; */
    flex:1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;

    display: flex;
    align-items: center;
}

.Search-bar{
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.5);
    width: 0px;
}

.Search-bar::placeholder{
    font-family: Roboto,arial;
    font-size: 16px;
}

.search-button,
.voice-search-button{
    height: 40px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.upload-icon-cont,
.app-cont,
.notifications-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}



.search-button .tooltip, .voice-search-button .tooltip,
.upload-icon-cont .tooltip, .app-cont .tooltip,
.notifications-icon-container .tooltip{
    font-family: roboto,arial;
    position: absolute;
    background-color: grey;
    color: white;
    padding-top:4px;
    padding-bottom:4px;
    padding-right:4px;
    padding-left:4px;
    border-radius: 2px;
    font-size: 12px;
    bottom:-30px;

    opacity:0;
    transition: opacity 0.15s;

    pointer-events: none;

    white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-cont:hover .tooltip,
.app-cont:hover .tooltip,
.notifications-icon-container:hover .tooltip{
    opacity:1;

}

.search-icon{
    height:25px;
}

.voice-search-button{
    height:40px;
    width: 40px;
    border: none;
    border-radius: 20px;
    background-color: rgb(248, 248, 248);
}

.voice-search-icon{
    height: 24px;
}

.right-sec{
    /* background-color: lightblue; */
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;

    flex-shrink: 0;
}

.upload-icon{
    /* position: abs; */
    height:24px;
}



.youtube-apps-icon{
    height: 24px;
}

.notifications-icon-container{
    position: relative;
}

.notifications-count{
    position:absolute;
    top:-2px;
    right: -5px;
    background-color: rgb(211, 10, 10);
    color:white;
    font-family: roboto, arial;
    font-size: 12px;;
    padding-left:5px;
    padding-right:5px;
    padding-top:2px;
    padding-bottom:2px;
    border-radius: 10px;
}

.notifications-icon{
    height: 24px;
}

.current-user-pic{
    height: 32px;
    border-radius: 16px;
}