

.thumbnail{
    /* display: block */
    /* width: 300px; */
    width: 100%;
}

.video-title{
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

/* .video-pre{ */
    /* width:300px; */
    /* display: inline-block; */
    /* vertical-align: top; */
    /* margin-right: 15px; */
/* } */



.author,
.stat{
    font-size: 12px;
    color: rgb(96, 96, 96);
    
}

.author{
    margin-bottom: 4px;
}


.profile-pic{
    width:36px;
    border-radius: 25px;

}

.thumbnail-row{
    margin-bottom: 8px;
    position: relative;
}

.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}


/* Responsive  */

@media (max-width: 700px){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 750px) and (max-width : 999px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}


.video-time{
    background-color: black;
    color:white;
    position:absolute;
    bottom:10px;
    right: 10px;
    font-family: roboto, arial;
    font-size: 12px;
    font-weight: 500px;
    padding-left:2px;
    padding-right:2px;
    padding-top:4px;
    padding-bottom:4px;
    border-radius : 2px;
}